* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    }

body {
    min-height: 100vh;
    background: linear-gradient(60deg , #772DA7, #8896E9);
    }

.pricing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    }

.header {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #332638;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    }

.pricing-card {
    width: 280px;
    height: 340px;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: all 0.5s ease-in-out;
    position: relative;
    }

.pricing-card:hover {
    transform: scale(1.05);
    }

.pricing-header {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: #772DA7;
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;

    position: absolute;
    top: 0;
    left: 0;
    }

.price {
    font-size: 30px;
    font-weight: bold;
    color: #772DA7;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
    }

.feature-list {
    margin-bottom: 20px;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 30px;
    }

.feature-list li {
    list-style: none;
    position: relative;
    padding-left: 25px; 
    }
    
.feature-list li::before {
    content: "⭐"; 
    position: absolute;
    left: 0;
    font-size: 1em;
    color: #772DA7;
    }
    
.cta-button {
    background-color: #772DA7;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }

.cta-button:hover {
    background-color: #5E1A7A;
    transform: scale(1.05);
    }